# OS
.DS_Store

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist*/
.vite/

# Env
.env
.env.*
!.env.example

# Editor
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln